*{
    font-family:"monospace";
    font-size: 24px;
    box-sizing: border-box;
    
}

body{
    height: 100vh;
    z-index: -1;
    background: transparent;
    background-color: black;
}


.container{
    display: flex;
    flex-direction: row;
    margin-left: 400px;
}

.yearmonth{
    width: 125px;
    height: 60px;
    display: flex;
    justify-content: center; 
    align-items: center;
    transition: background-color 0.3s;
}

.calander{
    width:45%;
    height: 90vh;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    flex-direction: column;
}

/* 日格子 */
.box_day{
    width: 119px;
    height: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.4s;
    background-color: rgb(176, 171, 171);
    opacity: 0.7;
    border-radius: 10%;
}

.box_week{
    width: 119px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s;
    background-color: rgb(152, 207, 240);
    opacity: 0.7;
    border-radius: 10%;
}

.cal-row{
    /* border: 1px solid black; */
    width: 843px;
    height: 85px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: -1px;
}

.cal-row>form{
 color:aliceblue;
}

.box_week:hover,
.box_day:hover,
.yearmonth:hover {
    background-color: rgb(112, 32, 117);
}

.box_day:active{
    background-color: rgb(90, 41, 93);
}


.color{
    background-color: rgb(217, 151, 151);
}

.today_color{
    background-color: lightseagreen;
}

.text_gray{
    color: lightgray;
}

.tools{
    margin: 88px 0 0 100px;
    padding-left: 10px;
    border: 5px solid rgba(255, 255, 255, 0.51);
    border-radius: 5%;
    width: 400px;
    height:233px;
    color:aliceblue;
}

.bg_img1{
    background-image:url("../img/winter1.jpg");
    opacity: 0.8;
}
.bg_img2{
    background-image:url("../img/winter2.jpg");
    opacity: 0.8;
}
.bg_img3{
    background-image:url("../img/spring1.jpg");
    opacity: 0.8;
}
.bg_img4{
    background-image:url("../img/spring2.jpg");
    opacity: 0.8;
}
.bg_img5{
    background-image:url("../img/spring3.jpg");
    opacity: 0.8;
}
.bg_img6{
    background-image:url("../img/summer1.jpg");
    opacity: 0.8;
}
.bg_img7{
    background-image:url("../img/summer2.jpg");
    opacity: 0.8;
}
.bg_img8{
    background-image:url("../img/summer3.jpg");
    opacity: 0.8;
}
.bg_img9{
    background-image:url("../img/fall1.jpg");
    opacity: 0.8;
}
.bg_img10{
    background-image:url("../img/fall2.jpg");
    opacity: 0.8;
}
.bg_img11{
    background-image:url("../img/fall3.jpg");
    opacity: 0.8;
}
.bg_img12{
    background-image:url("../img/winter3.jpg");
    opacity: 0.8;
}

.background{
    position: fixed;
    z-index: -1;
    inset: 0;
    width:100%;
    height:100%;
    background-size: 100%;
    background-repeat: no-repeat;
    animation: fade-in-out 1.5s ease-in-out;
}

@keyframes fade-in-out {
    0%{
        opacity: 0;;
    }
    100%{
        opacity: 0.8;
    }
}